[submodule "modules/getreuer"]
	path = modules/getreuer
	url = https://github.com/getreuer/qmk-modules.git
[submodule "modules/dave-thompson"]
	path = modules/dave-thompson
	url = https://github.com/dave-thompson/qmk-modules.git
